/* Estilos responsivos 
@media (max-width: 1366px) {
  form {
    max-width: 550px;
  }
  label {
    font-size: 0.95rem;
  }
  button {
    font-size: 0.9rem;
  }
}

@media (max-width: 720px) {
  form {
    max-width: 90%;
  }
  label {
    font-size: 0.9rem;
  }
  button {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  form {
    padding: 15px;
  }
  label {
    font-size: 0.85rem;
  }
  button {
    font-size: 0.8rem;
  }

  Opciones en una sola columna para pantallas pequeñas
  div > div {
    flex-direction: column;
  }
}*/
//Estilos de los titulos y contenedor
.containerEncuesta .titulo {
  width: 100%;
  max-width: 900px;
  margin: 1.5rem auto;
  background: #19c3ff;
  padding: 10px 5px;
  border-radius: 10px;
}
.containerEncuesta h2 {
  margin-left: 3rem;
  font-size: 1.7rem;
  margin-top: 5px;
  font-weight: bold;
  color: #fbfcfc;
}
.containerEncuesta{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
label{
    cursor: pointer;
    margin: 5px 0px;
}
.boton{
  width: 100%;
  text-align: center;
  margin: 1.2rem 0;
}
.boton button{
  padding: 10px 30px;
}
/* ESTILOS DE BARTHEL, LAWTON Y KATZ */
.opcmult .opciones {  
  label input[type="radio"]{
    margin-top: 0.1rem;
    align-self: start;
  }
  label{
    margin-left: 1rem;
  }
  .preguntas{
    padding: 10px 15px;
    background:   #d7dbdd;
    color: rgba(0, 0, 0, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
  }
}
/* ESTILOS DE FRAIL */
.frail .opciones {
  .table-header th {
    background: rgb(0, 176, 255);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 0;
  }
  
  /* Colores de las filas */
  .row-blue td{
    background: rgb(202, 237, 251); /* Azul claro */
  }
  
  .row-gray td{
    background: rgb(242, 243, 244); /* Gris claro */
  }
  
  /* Ajustes adicionales */
  .table td {
    vertical-align: middle; /* Centrar verticalmente las celdas */
  }
}

// ESTILOS ENSRUD
.frail{
  
}
