.container {
  background-color: #ffffff;
  padding: 20px;
  max-width: 100%; /* Asegúrate de que nunca se salga de los bordes */
  overflow: hidden; /* Evita el desbordamiento visual */   
}
* {
  box-sizing: border-box;
}

.reloj-container {
  display: inline-flex;
  width: max-content;
  margin: 10px;
}
.reloj {
  font-size: 35px;
  //font-weight: bold;
  color: #519ff4;
}
.hours {
  margin: 5px 7px;
  font-size: 30px;
  font-weight: bold;
}

.date {
  color: #519ff4;
  font-size: 30px;
  text-transform: uppercase;
  //font-weight: bold;
}
.container-fecha {
  margin: 0px 15px;
  width: 100%;
}
.fecha-hora {
  //background: #ACD;
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
}

.dashboard {
  padding: 10px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}
.statistics .col {
  margin: 5px 0;
}

.stat-box1, .stat-box2, .stat-box3 {
  flex: 1;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.stat-box1 {
  background-color: #4ca7d1;
}

.stat-box2 {
  background-color: #8ec33f;
}

.stat-box3 {
  background-color: #f56858;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.patients, .todos {
  flex: 1;
  min-width: 280px;
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.patients table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.patients th, .patients td {
  border: 1px solid #ddd;
  padding: 8px;
}

.patient-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

.completed {
  background-color: #4caf50;
}

.pending {
  background-color: #ff9800;
}

.process {
  background-color: #ffc107;
}

.citaReciente {
  margin-bottom: 10px;
}

@media (max-width: 720px) {
  .statistics {
    flex-direction: column;
    align-items: center; /* Asegura que los hijos estén centrados */
    gap: 15px;
  }

  .stat-box1, .stat-box2, .stat-box3 {
    width: 100%; /* Ocupan todo el ancho del contenedor */
  padding: 15px;
  }

  .content {
    flex-direction: column;
  }

  .fecha-hora {
    margin-bottom: 20px;
  }
}
