<div class="navbar">
  <div class="logo" (click)="mainPage()" title="VGI Home">
      <img src="assets/Imagenes/icon-logo.png" title="VGI" alt="" class="icono">
      <h2>VGI</h2>
  </div>
  <div class="menu-toggle" onclick="toggleMenu()">☰</div>
  <div class="menu">
      <a routerLink="list-person">Lista Pacientes</a>
      <a routerLink="encuestas">Encuesta</a>
      <a routerLink="diagnostic">Categoria de Encuesta</a>
      <a routerLink="encuesta-afc">esfera afectiva</a>
      <a routerLink="encuesta-okeeffe">preuba</a>
      <a routerLink="about">Acerca de</a>
  </div>
  <div class="profile">
      <img src="https://i.pinimg.com/1200x/88/f4/8f/88f48f94c2b60bb17a009a1513c53716.jpg" alt="Profile Image" class="profile-image" onclick="toggleDropdown()">
      <div id="dropdownMenu" class="dropdown-menu">
          <span class="user-name">Eduardo Manuel Miller Martínez</span> <!-- Nombre del usuario -->
          <a routerLink="profile"><i class="fas fa-user-circle"></i>Profile</a>
          <a routerLink="#"><i class="fas fa-cog"></i>Settings</a>
          <a routerLink="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Logout</a>
      </div>
  </div>
</div>