<div class="navbar">
  <div class="logo" (click)="mainPage()">
      <img src="assets/Imagenes/icono-removebg-preview.png" title="VGI" alt="" width="50px" class="icono">
      <h2>VGI</h2>
  </div>
  <div class="menu">
      <a href="login/list-person">Lista Pacientes</a>
      <a href="#">Imagenes</a>
      <a href="#">Video</a>
      <a href="#">Pasatiempo</a>
      <a href="#">Música</a>
      <a href="login/about">Acerca de</a>
  </div>
  <div class="profile">
      <img src="https://i.pinimg.com/1200x/88/f4/8f/88f48f94c2b60bb17a009a1513c53716.jpg" alt="Profile Image" class="profile-image" onclick="toggleDropdown()">
      <div id="dropdownMenu" class="dropdown-menu">
          <a href="login/profile">Profile</a>
          <a href="#">Settings</a>
          <a href="#">Logout</a>
      </div>
  </div>
</div>