.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f06cff;
    padding: 10px;
    color: #fff;
}

.menu a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

.profile {
    position: relative;
    //width: 100px;
}
.user-name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    display: inline-flex;
    margin-left: 10px;
}
.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}
.profile a:hover{
	background: rgba(0,250,238,0.3);
}

.dropdown-menu.show {
    display: block;
}

.navbar .logo .icono, .logo h2{
	display: inline;
}
.logo .icono {
	background: white;
	border-radius: 50%;
}
.logo:hover{
	cursor: pointer;
}
.menu-toggle{
    display: none;
    position: absolute;
    left:3%;
    top: 15px;
    font-size: 25px;
}

/* Para pantallas pequeñas (teléfonos) */
@media (max-width: 767px) {
    /* Mostrar el icono de menú y ocultar el menú principal */
    .menu {
        display: none;
        flex-direction: column;
        //position: absolute;
        //top: 60px;
        //right: 0;
        background-color: #f06cff;
        width: 50%;
        padding: 10px;
    }

    .menu a {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
    .menu-toggle:hover{
        cursor: pointer;
    }

    /* Estilo para el menú desplegable en móviles */
    .menu.show {
        display: flex;
    }   
    .profile{
        display: block;

    }
    .logo{
        margin-left: 10%;
    }
}

/* Para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    .menu a {
        margin: 0 10px; /* Reduce el espacio entre enlaces */
    }

    .navbar {
        padding: 10px 15px; /* Reduce el padding */
    }
}