<!-- Modal para Registro de Paciente -->
<div class="container">
    <div class="title">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <i class="fa-solid fa-person-circle-plus"></i> Añadir Paciente
        </h1>
    </div>

    <div class="modal-body">
        <!-- Formulario de Registro -->
        <form [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">
            <!-- Matrícula -->
            <div class="form-group">
                <label for="matricula">IMSS:</label>
                <input type="text" class="form-control" id="matricula" formControlName="matricula">
                <div *ngIf="submitted && pacienteForm.controls['matricula'].errors">
                    <div *ngIf="pacienteForm.controls['matricula'].errors['required']" class="alert alert-danger m-2">
                        No. IMSS es requerida
                    </div>
                </div>
            </div>

            <!-- Nombre -->
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre" [(ngModel)]="pacient.nombre">
                <div *ngIf="submitted && pacienteForm.controls['nombre'].errors">
                    <div *ngIf="pacienteForm.controls['nombre'].errors['required']" class="alert alert-danger m-2">
                        Nombre es requerido
                    </div>
                </div>
            </div>


            <!-- Apellido -->
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" class="form-control" id="apellido" formControlName="apellido">
                <div *ngIf="submitted && pacienteForm.controls['apellido'].errors">
                    <div *ngIf="pacienteForm.controls['apellido'].errors['required']" class="alert alert-danger m-2">
                        Apellido es requerido
                    </div>
                </div>
            </div>

            <!-- Género -->
            <div class="form-group">
                <label for="genero">Género:</label>
                <select class="form-control" id="genero" formControlName="genero" [(ngModel)]="pacient.genero">
                    <option value="">Seleccione</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
                <div *ngIf="submitted && pacienteForm.controls['genero'].errors">
                    <div *ngIf="pacienteForm.controls['genero'].errors['required']" class="alert alert-danger m-2">Género es requerido</div>
                </div>
            </div>

            <!-- Fecha de Nacimiento -->
            <div class="form-group">
                <label for="fechaNacimiento">Fecha de Nacimiento: </label>
                <input type="date" id="fechaNacimiento" name="bday" class="form-control" [(ngModel)]="pacient.fecha_nacimiento" formControlName="fecha_nacimiento">
                <div *ngIf="submitted && pacienteForm.controls['fecha_nacimiento'].errors" class="alert alert-danger m-2">
                    <div *ngIf="pacienteForm.controls['fecha_nacimiento'].errors['required']" >Introduzca la fecha</div>
                </div>
            </div>

            <!-- Dirección -->
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <textarea class="form-control" id="direccion" formControlName="direccion" rows="3" [(ngModel)]="pacient.direccion"></textarea>
                <div *ngIf="submitted && pacienteForm.controls['direccion'].errors" class="alert alert-danger m-2">
                    <div *ngIf="pacienteForm.controls['direccion'].errors['required']">Dirección es requerida</div>
                </div>
            </div>

            <!-- Historial Médico -->
            <div class="form-group">
                <label for="historialMedico">Historial Médico:</label>
                <textarea class="form-control" id="historialMedico" formControlName="historialMedico" rows="3"></textarea>
                <div *ngIf="submitted && pacienteForm.controls['historialMedico'].errors" class="alert alert-danger m-2">
                    <div *ngIf="pacienteForm.controls['historialMedico'].errors['required']">Historial Médico es requerido</div>
                </div>
            </div>

            <!-- Alergias -->
            <div class="form-group">
                <label for="alergias">Alergias:</label>
                <textarea class="form-control" id="alergias" formControlName="alergias" rows="2"></textarea>
                <div *ngIf="submitted && pacienteForm.controls['alergias'].errors" class="alert alert-danger m-2">
                    <div *ngIf="pacienteForm.controls['alergias'].errors['required']">Alergias son requeridas</div>
                </div>
            </div>

            <!-- Descripción -->
            <div class="form-group">
                <label for="caracteristicas">Descripci&#243;n:</label>
                <textarea class="form-control" id="caracteristicas" formControlName="caracteristicas" rows="3"></textarea>
                <div *ngIf="submitted && pacienteForm.controls['caracteristicas'].errors" class="alert alert-danger m-2">
                    <div *ngIf="pacienteForm.controls['caracteristicas'].errors['required']">Agrege una breve descripci&#243;n para mostrar</div>
                </div>
            </div>

            <form [formGroup]="cuidadorForm" class="p-4 border rounded shadow">
                <h2 class="text-center mb-4">Datos del Cuidador &#40;Opcional&#41;</h2>
                <div class="mb-3">
                <label for="cuidador_name" class="form-label">Nombre</label>
                <input type="text" id="cuidador_name" class="form-control" formControlName="cuidador_name" placeholder="Ingrese el nombre del cuidador" />
                </div>
        
                <div class="mb-3">
                <label for="cuidador_lastname" class="form-label">Apellido</label>
                <input type="text" id="cuidador_lastname" class="form-control" formControlName="cuidador_lastname" placeholder="Ingrese el apellido del cuidador" />
                </div>
        
                <div class="mb-3">
                <label for="cuidador_phone" class="form-label">Tel&#233;fono</label>
                <input type="text" id="cuidador_phone" class="form-control" formControlName="cuidador_phone" placeholder="Ingrese el teléfono"/>
                <div *ngIf="cuidadorForm.get('cuidador_phone')?.errors?.['pattern'] && cuidadorForm.get('cuidador_phone')?.touched" class="text-danger">
                    El tel&#233;fono debe contener solo n&#250;meros.
                </div>
                <div *ngIf="cuidadorForm.get('cuidador_phone')?.errors?.['minlength'] && cuidadorForm.get('cuidador_phone')?.touched" class="text-danger">
                    El tel&#233;fono debe tener al menos 10 d&#237;gitos.
                </div>
                <div *ngIf="cuidadorForm.get('cuidador_phone')?.errors?.['maxlength'] && cuidadorForm.get('cuidador_phone')?.touched" class="text-danger">
                    El tel&#233;fono debe tener como máximo 10 d&#237;gitos.
                </div>
                </div>
        
                <div class="mb-3">
                <label for="cuidador_email" class="form-label">Correo Electr&#243;nico</label>
                <input type="email" id="cuidador_email" class="form-control" formControlName="cuidador_email" placeholder="Ingrese el correo electrónico"/>
                <div *ngIf="cuidadorForm.get('cuidador_email')?.invalid && cuidadorForm.get('cuidador_email')?.touched" class="text-danger">
                    Ingrese un correo electr&#243;nico v&#225;lido.
                </div>
                </div>
        
                <div class="mb-3">
                <label for="cuidador_address" class="form-label">Direcci&#243;n</label>
                <textarea id="cuidador_address" class="form-control" formControlName="cuidador_address" placeholder="Ingrese la dirección"></textarea>
                </div>
            </form>

            <!-- Confirmación -->
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="confirmacion" formControlName="confirmacion">
                <label class="form-check-label" for="confirmacion">Confirmo que los datos Ingresados son correctos</label>
                <div *ngIf="submitted && pacienteForm.controls['confirmacion'].errors" class="alert alert-danger m-2">
                    <div *ngIf="pacienteForm.controls['confirmacion'].errors['required']">Acepta que los datos guardados son validos y no ficticio</div>
                </div>
            </div>

            <!-- Botones de acción -->
            <div class="text-center">
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i> Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i> Cancelar</button>
            </div>
        </form>        
    </div>
