<mat-toolbar>
    <!-- Botón de menú -->
    <button mat-icon-button *ngIf="sidenav.mode ==='over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <!-- Logo -->
    <div class="logo" (click)="mainPage()" title="VGI Home">
        <img src="assets/Imagenes/icon-logo.png" title="VGI" alt="" class="icono">
        <h2>VGI</h2>
    </div>

    <!-- Espaciador -->
    <div class="spacer"></div>

    <!-- Perfil -->
    <div class="profile">
        <img src="https://i.pinimg.com/1200x/88/f4/8f/88f48f94c2b60bb17a009a1513c53716.jpg" alt="Profile Image" class="profile-image" onclick="toggleDropdown()">
        <div id="dropdownMenu" class="dropdown-menu">
            <span class="user-name">{{name}}</span> <!-- Nombre del usuario -->
            <a routerLink="profile"><i class="fas fa-user-circle"></i>Profile</a>
            <a routerLink="#"><i class="fas fa-cog"></i>Settings</a>
            <a routerLink="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
    </div>
</mat-toolbar>
<!-- <app-header></app-header> -->

<!--Sidenav-->
<mat-sidenav-container>
    <mat-sidenav>
        <mat-nav-list>
            <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="/">
                <mat-icon matListItemIcon>home</mat-icon>
                Home
            </mat-list-item>
            <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="list-doctors">
                <mat-icon matListItemIcon>person</mat-icon>
                Doctores
            </mat-list-item>
            <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="list-person">
                <mat-icon matListItemIcon>folder_shared</mat-icon>
                Pacientes
            </mat-list-item>
            <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="diagnostic">
                <mat-icon matListItemIcon>ballot</mat-icon>
                Encuesta
            </mat-list-item>
            <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="about">
                <mat-icon matListItemIcon>info</mat-icon>
                Acerca de
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <app-footer></app-footer> -->