body {
  margin: 0;
}

.perfilDoctor {
  width: 100%;
  max-width: 720px;
  margin: auto;
}

/* CONTENEDOR DEL NOMBRE */
.perfil {
  max-width: 500px;
  width: 100%;
  background: rgb(204, 209, 209, 0.5);
  padding: 15px;
  position: relative;
  display: flex;
  border-radius: 15px;
  margin: auto;
}
/* CONTENEDOR IMAGEN */
.perfil .user {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}
.perfil .fotoPerfil:hover {
  cursor: pointer;
}
.fotoPerfil {
  position: relative;
  width: 180px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 180px;
  border-radius: 50%; /* Hace que la imagen sea circular */
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
  color: white;
  font-size: 18px;
  opacity: 0; /* Oculta el texto por defecto */
  transition: opacity 0.3s ease; /* Animación suave */
  border-radius: 50%; /* Hace que el overlay también sea circular */
}
.fotoPerfil:hover .overlay {
  opacity: 0.7; /* Muestra el texto al hacer hover */
}

.fotoPerfil:hover .user {
  opacity: 0.6; /* Opcional: reduce la opacidad de la imagen al hacer hover */
}
/* CONTENEDOR DEL NOMBRE FECHA Y GENERO */
.container {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
}
.perfil {
  .firstName,
  .lastName {
    font-family: "Arial", Courier, monospace;
    font-size: 30px;
    max-width: 230px;
    margin-bottom: 10px;
  }
}
.container .datoPersonal .date{
    text-transform: capitalize;
}

#icon {
  font-size: 13px;
}
.perfil .datoPersonal {
  display: flex;
}
.perfil .date,
.perfil .genero {
  font-size: 17px;
  font-family: "Arial", Courier, monospace;
  color: #c766fb;
  font-weight: bold;
}
.perfil .genero {
  margin-left: 10px;
}
/* ESTILO DEL BOTON EDITAR */
.edit-btn {
  position: absolute;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  top: 15px;
  right: 10px;
}

.edit-btn i {
  margin-right: 5px;
  font-size: 18px;
}

.edit-btn:hover {
  background-color: #0056b3;
}
/* NOMBRE DEL COMPONENTE */
.title {
  width: 100%;
  background: #e4a7ff;
  padding: 1rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 2rem;
}
/* CONTENEDOR DATOS */
.containerProfesional {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 40%;
  max-width: 500px;
  margin: 40px auto;
}
.perfil-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5rem;
}

.label {
  font-weight: bold;
  color: #555;
}

.value {
  color: #333;
  text-align: right;
}

.password-item .value {
    display: flex;
    gap: 8px;
  }
  
  .toggle-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #555;
  }
  
  .toggle-btn:hover {
    color: #000;
  }

  /* ESTILOS FORMULARIO UPDATE */
  .containerForm{
    width: 100%;
    max-width: 720px;
    margin: auto;
  }
  .disabled{
    cursor: not-allowed;
  }
  .form-group {
    margin: 10px 0;
    
    label{
      margin-bottom: 5px;
    }
  }

/* ESTILOS VALID PASSWORD */
.containerPassword{
  width: 100%;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.botones{
  margin: 15px auto;
  width: max-content;

  button{
    cursor: pointer;
  }

  button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: all !important;
  }
  
  .btn-success{
    margin-right: 15px;
  }
}