<!-- GDS - 15 -->
<div class="container mt-4">
  <h1 class="text-center mb-4">GDS - 15</h1>
  <form [formGroup]="gdsForm">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-primary">
          <tr>
            <th>#</th>
            <th>Pregunta</th>
            <th>Sí (1)</th>
            <th>No (0)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pregunta of preguntas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ pregunta }}</td>
            <td>
              <input
                type="radio"
                [value]="1"
                [formControlName]="'pregunta' + i"
              />
            </td>
            <td>
              <input
                type="radio"
                [value]="0"
                [formControlName]="'pregunta' + i"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary" (click)="calcularPuntuacion(); enviarResultados()">Calcular y Ver Resultados</button>
    </div>
  </form>
</div>


  