<div class="d-flex justify-content-center align-items-center mt-4">
    <div class="survey-container p-4 shadow rounded">
      <h2 class="title">Encuesta EAT-10</h2>
      <div class="instrucciones">
        Responda cada pregunta escribiendo en el recuadro el n&#250;mero de puntos. <br>
        &#191;Hasta que punto usted percibe los siguientes problemas&#63;
      </div>
      <!-- Formulario de la encuesta -->
      <form (ngSubmit)="calculateScore()">
        <div *ngFor="let question of questions; let i = index" class="mb-4">
          <p class="fw-bold">{{ question.text }}</p>
  
          <!-- Opciones de respuestas -->
          <div *ngFor="let option of question.option">
            <div class="form-check opciones">
              <input
                type="radio"
                class="form-check-input"
                [id]="'q' + i + option.score"
                [name]="'question' + i"
                [value]="option.score"
                [(ngModel)]="question.selectedScore"
                (change)="onOptionSelected()"
                [ngModelOptions]="{standalone: true}"
              />
              <label class="form-check-label" [for]="'q' + i + option.score">
                {{ option.label }}
              </label>
            </div>
          </div>
        </div>
        <!-- Error si faltan preguntas -->
        <div *ngIf="showError" class="alert alert-danger mt-3 text-center">
          ¡Por favor, responda todas las preguntas antes de enviar la encuesta!
        </div>
  
        <!-- Botón de enviar -->
        <div class="text-center">
          <button type="submit" class="btn btn-success px-4">Finaliza Encuesta</button>
        </div>
      </form>
    </div>
  </div>
  