.category {
    max-width: 100%;
    margin: 10px auto;
}

.category-title {
    background-color: #e68dfc;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.category-title:hover{
    background-color: #e063ff;
}

.category-content {
    display: none;
    padding: 10px;
    background-color: #ffbbf7;
    border: 1px solid #d64eff;
    border-radius: 5px;
    margin-top: 5px;
}

.title p{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2rem 0;
}
.lista li{
    cursor: pointer;
    max-width: 250px;
    list-style: none;
    display: block;
}

.lista li:hover{
    opacity: 0.6;
}

.categoryContent{
    width: 100%;
    max-width: 1366px;
    margin: auto;
    height: 70vh;
}

@media (max-width: 1360px) {
    .categoryContent{
       padding: 0px 15px;
    }

    .title p{
        font-size: 25px;
    }
    
}