<!-- Visualizacion de Datos del Paciente -->
<div class="container">
  <!-- Botón Add fuera del cuadro -->
  <!-- <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-plus-circle"></i> Añadir Paciente</button>
  </div> -->
  <div class="row justify-content-center">
    <div class="container my-4">
      <h2>Detalles del Paciente</h2>
      <div class="card">
        <div class="card-body">
          <!-- Información del paciente -->
          <div class="row mb-3">
            <div class="col-md-4"><strong>Matrícula:</strong></div>
            <div class="col-md-8">{{ patientData.registration_number }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4"><strong>Nombre:</strong></div>
            <div class="col-md-8">{{ patientData.first_name }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4"><strong>Apellido:</strong></div>
            <div class="col-md-8">{{ patientData.last_name }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4"><strong>Edad:</strong></div>
            <div class="col-md-8">{{ patientData.age }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4"><strong>Fecha de Nacimiento:</strong></div>
            <div class="col-md-8">{{ patientData.birth_date | date }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4"><strong>Correo de Emergencia:</strong></div>
            <div class="col-md-8">{{ patientData.emergency_email }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4"><strong>Teléfono de Emergencia:</strong></div>
            <div class="col-md-8">{{ patientData.emergency_contact }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4"><strong>Dirección:</strong></div>
            <div class="col-md-8">{{ patientData.address }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4"><strong>Historial Médico:</strong></div>
            <div class="col-md-8">{{ patientData.medical_history }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4"><strong>Alergias:</strong></div>
            <div class="col-md-8">{{ patientData.allergies }}</div>
          </div>
          <!-- Botones Modificar y Eliminar dentro del cuadro -->
          <div class="text-center mt-3 boxBtn">
            <button type="button" class="btn btn-warning mr-2"><i class="bi bi-file-earmark-text"></i> Modificar</button>
            <button type="button" class="btn btn-danger" (click)="deletePatient()"><i class="bi bi-trash3"></i> Eliminar</button>
            <button type="button" class="btn btn-success" (click)="categoria()"><i class="fa-solid fa-file-medical"></i>Diagnostico</button>
            <button type="button" class="btn btn-history" (click)="history()"><i class="fa-solid fa-book-medical"></i>Historial</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>