.boxBtn .btn {
  margin: 0px 15px;
}
.text-center .btn {
  margin: 5px 15px;
}

.btn-history {
  background: #81c4ff;
}
.btn-history:hover {
  background: #5db3ff;
}

.container {
  max-width: 800px;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 20px;
}
