.container {
    margin-top: 100px;
  }
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .btn-block {
    width: 100%;
  }
  .btn{
    margin-top: 15px;
    color: #FFFFFF;
    font-style: italic;
    font-weight: bold;
  }
  .text-center img {
    max-width: 150px;
    width: 50%;
  }

  .container-fluid {
    height: 100vh;
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/104/158/non_2x/healthcare-medical-technology-and-science-wallpaper-template-illustration-vector.jpg');
    background-size: cover;
    background-position: center;
  }