<div class="texto">
  <h1>Historial del Paciente Diagnosticado</h1>
</div>
<div class="filtro">
  <!-- Filtro por criterio -->
  <div class="mb-3">
    <label for="filterCriteria" class="form-label">Filtrar por:</label>
    <select class="form-control" id="filterCriteria" [(ngModel)]="selectedFilter" (ngModelChange)="filterList()">
      <option value="">Seleccione Filtro</option>
      <option value="fecha">Fecha</option>
      <option value="categoria">Categoría</option>
      <option value="encuesta">Encuesta</option>
    </select>
  </div>
  
   <!-- Filtro dinámico según el criterio seleccionado -->
   <div class="mb-3">
    <label for="filterValue" class="form-label">Valor a filtrar:</label>
    <select class="form-control" id="filterValue" [(ngModel)]="filterValue" (ngModelChange)="filterList()">
      <option value="">Seleccione un valor</option>
      <option *ngFor="let option of filterOptions" [value]="option">{{ option }}</option>
    </select>
  </div>
</div>

<div class="container mt-4">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Fecha</th>
          <th class="text-center">Categoría</th>
          <th class="text-center">Encuesta</th>
          <th class="text-center">Puntos</th>
          <th class="text-center">Observaciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Verifica si hay historial, si no, muestra el mensaje -->
        <tr *ngIf="history.length == 0">
          <td colspan="5" class="text-center text-danger">No hay historial disponible</td>
        </tr>
        <!-- Si hay historial, muestra los datos -->
        <tr *ngFor="let item of filteredHistory">
          <td class="text-center">{{ item.fecha }}</td>
          <td class="text-center">{{ item.diagnostic?.category }}</td> <!-- Usamos el ? para evitar errores si no existe la relación -->
          <td class="text-center">{{ item.encuesta }}</td>
          <td class="text-center">{{ item.puntos }}</td>
          <td class="text-center">{{ item.observacion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>