<div class="texto">
  <h1>Historial del Paciente Diagnosticado</h1>
</div>

<!--<div class="container" id="htmlData">
    <table class="table table-bordered" id="tblHistory">
      <thead>
        <tr>
          <th>Doctor</th>
          <th>Paciente</th>
          <th>Diagnóstico</th>
          <th>Puntaje</th>
          <th>Observaciones</th>
          <th>Fecha de Captura</th>
          <th>Hora</th>
          <th>Centro Médico</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of medicalRecords">
          <td>{{ record.doctor }}</td>
          <td>{{ record.paciente }}</td>
          <td>{{ record.diagnostico }}</td>
          <td>{{ record.resultado }} pto</td>
          <td>{{ record.observaciones }}</td>
          <td>{{ record.fechaCaptura }}</td>
          <td>{{ record.hora }}</td>
          <td>{{ record.centroMedico }}</td>
          <td>
            <button (click)="downloadPDF()" class="btn btn-primary btn-sm" title="Descargar PDF">
              <i class="fa fa-edit"></i>
              <i class="fas fa-download"></i>
            </button>
            <button (click)="deleteRecord(record.id)" class="btn btn-danger btn-sm">
              <i class="fa fa-trash"></i>
            </button>
            <button (click)="updateRecord(record)" class="btn btn-info btn-sm">
              <i class="fa fa-refresh"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>-->

<div class="tableHistory">
  <table border="1" style="width: 100%; text-align: center; border-collapse: collapse;">
    <tr style="background-color: #0095ff; color: white;">
      <th colspan="7">COGNITIVA</th>
    </tr>
    <tr style="background-color: #ff8cff; color: black;">
      <th>Encuestas</th>
      <th>Matrícula</th>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Puntos</th>
      <th>Observación</th>
      <th>Porcentaje</th>
    </tr>
    <tr *ngFor="let survey of surveys.cognitive">
      <td>{{ survey.survey }}</td>
      <td>{{ survey.matricula }}</td>
      <td>{{ survey.nombre }}</td>
      <td>{{ survey.fecha }}</td>
      <td>{{ survey.puntos }}</td>
      <td>{{ survey.observacion }}</td>
      <td>{{ survey.porcentaje }}</td>
    </tr>
  
    <tr style="background-color: #0095ff; color: white;">
      <th colspan="7">FUNCIONAL</th>
    </tr>
    <!--<tr style="background-color: #ff8cff; color: black;">
      <th>Encuestas</th>
      <th>Matrícula</th>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Puntos</th>
      <th>Observación</th>
      <th>Porcentaje</th>
    </tr>-->
    <tr *ngFor="let survey of surveys.functional">
      <td>{{ survey.survey }}</td>
      <td>{{ survey.matricula }}</td>
      <td>{{ survey.nombre }}</td>
      <td>{{ survey.fecha }}</td>
      <td>{{ survey.puntos }}</td>
      <td>{{ survey.observacion }}</td>
      <td>{{ survey.porcentaje }}</td>
    </tr>
  
    <tr style="background-color: #0095ff; color: white;">
      <th colspan="7">NUTRICIONAL</th>
    </tr>
    <!--<tr style="background-color: #ff8cff; color: black;">
      <th>Encuestas</th>
      <th>Matrícula</th>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Puntos</th>
      <th>Observación</th>
      <th>Porcentaje</th>
    </tr>-->
    <tr *ngFor="let survey of surveys.nutritional">
      <td>{{ survey.survey }}</td>
      <td>{{ survey.matricula }}</td>
      <td>{{ survey.nombre }}</td>
      <td>{{ survey.fecha }}</td>
      <td>{{ survey.puntos }}</td>
      <td>{{ survey.observacion }}</td>
      <td>{{ survey.porcentaje }}</td>
    </tr>
  </table>
  
</div>
