.table img {
    border-radius: 50%;
  }
  
  .badge-success {
    background-color: #5cb85c;
  }
  
  .badge-danger {
    background-color: #d9534f;
  }
  
  .btn-sm {
    margin-right: 5px;
  }
.table th{
  background-color: #f7a1ff;
  color: white;
  text-align: center;
}
.texto h1{
  font-size: 25px;
  color: #4f9ffa;
}
.texto{
  width: 100%;
  max-width: 1500px;
  margin: 15px auto;
}