// src/app/not-found/not-found.component.scss

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #f4f4f9;
  color: #333;
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 10rem;
  font-weight: bold;
  margin: 0px;
  color: #4489f1;
  animation: pulse 1.5s infinite;
}

h2 {
  font-size: 2.5rem;
  margin-top: 5rem;
  color: #555;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #777;
  max-width: 600px;
}

button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ff4949;
  }
}

// Animación de pulsación en el número 404
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

/* Pantallas pequeñas (teléfonos móviles) */
@media (max-width: 720px) {
  .not-found-container {
    padding: 0 0.5rem;
  }

  h1 {
    font-size: 3.7rem; // Tamaño reducido para móviles
  }

  h2 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0px;
  }

  p {
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
  }

  button {
    padding: 0.6rem 1.5rem;
    font-size: 0.9rem;
  }
}

/* Pantallas medianas (tabletas y pantallas pequeñas de escritorio) */
@media (min-width: 721px) and (max-width: 1366px) {
  h1 {
    font-size: 5rem; // Tamaño ajustado para tabletas
    // color: #FFF;
  }

  h2 {
    font-size: 2rem;
    margin-top: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  button {
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
  }
}

/* Pantallas grandes (escritorio) */
@media (min-width: 1367px) {
  h1 {
    font-size: 10rem; // Tamaño más grande para escritorio
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
  }
}
