<section class="about-section">
  <div class="container">
      <h1 class="about-title">Acerca de Gedeatria</h1>
      <p class="about-text">
          Gedeatria es una innovadora aplicación diseñada para la evaluación y seguimiento de la salud de los pacientes. Nuestro objetivo principal es proporcionar herramientas efectivas para realizar encuestas que ayuden a identificar posibles enfermedades o brindar observaciones personalizadas basadas en las respuestas de los pacientes.
      </p>
      <p class="about-text">
          Gracias a la integración de tecnología avanzada, Gedeatria permite a los profesionales de la salud acceder a información clave de manera rápida y confiable, facilitando la toma de decisiones informadas y mejorando la calidad del cuidado médico.
      </p>
      <p class="about-text">
        El contenido proporcionado está protegido por leyes de derechos de autor y es propiedad exclusiva de Gedeatria. Queda prohibida su reproducción o distribución sin autorización previa.
    </p>
    <p class="about-text">
        &copy; 2024 Gedeatria. Todos los derechos reservados. Esta aplicación está diseñada para encuestar a pacientes con el objetivo de determinar posibles enfermedades o brindar observaciones relevantes basadas en sus respuestas. 
    </p>
  </div>
</section>