    <!-- Pie de Página -->
    <footer class="bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Acerca de Nosotros</h5>
                    <p>Test de evaluacion basado en encuestas para determinar cuales son los posibles tratamientos que se puedan aplicar al paciente para mejorar su rendimiento de vida.</p>
                </div>
                <div class="col-md-4">
                    <h5>Contacto</h5>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-map-marker-alt"></i> Av. Principal 123, Mérida, Yucatán</li>
                        <li><i class="fas fa-phone-alt"></i> +52 123 456 7890</li>
                        <li><i class="fas fa-envelope"></i> contacto@geatria-ims.egob.com</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Redes Sociales</h5>
                    <ul class="list-unstyled d-flex">
                        <li><a href="https://www.facebook.com/" title="Facebook" class="text-white me-3" target="_blanck"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/" title="Twitter" target="_blanck" class="text-white me-3"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https:/www.instagram.com/" title="Instagram" target="_blanck" class="text-white me-3"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/" title="Youtube" target="_blank" class="text-white"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center pt-3 border-top mt-3">
                <p>&copy; 2024 Footer Ejemplo. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
