//Titulo General
.title {
  background: #dedede;
  opacity: 0.7;
  padding: 0.5rem;
  text-align: center;
  margin: 1rem auto;
}
/* Estilos del Contenedor de Encuesta */
.containerEncuesta{
  width: 100%;
  max-width: 1000px;
  margin:  1rem auto;
}

// Boton Finalizar
.boton{
  width: 100%;
  max-width: max-content;
  margin: 1rem auto;

  button{
    padding: 10px 30px;
  }
}

.opciones label,
.opciones input {
  display: block;
  cursor: pointer;
  width: max-content;
}

/* Estilos de la Encuesta CAM */
.cam .tabla-delirium {
  width: 100%;
  border-collapse: collapse;
}

.cam .tabla-delirium th,
.cam .tabla-delirium td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
.cam .tabla-delirium th {
  background-color: #ddd;
  font-weight: bold;
  text-align: center;
}
.cam .tabla-delirium td div {
  margin-bottom: 5px;
}

.cam .tabla-delirium label {
  font-weight: normal;
}

/* Estilos de Encuesta AWOL */
.awol .text-green {
  color: green;
  font-weight: bold;
  border: green solid 5px;
}

.awol .text-orange {
  color: orange;
  font-weight: bold;
  border: orange solid 5px;
}

.awol .text-purple {
  color: purple;
  font-weight: bold;
  border: purple solid 5px;
}
.awol .text-red {
  color: red;
  font-weight: bold;
  border: red solid 5px;
}
.awol .opciones p{
    font-size: 3rem;
    margin: 10px 2rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.5;
}
.awol .opciones p:hover{
  opacity: 1;
}
.awol .opciones{
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
}
.awol .respuesta p{
    font-size: 1.1rem;
    margin: 1rem auto;
    max-width: 50%;
    padding: 10px 5px;
    font-weight: bold;
}
.awol .green{
    background: #82e0aa;
}
.awol .red{
    background: #FF6565;
}
.awol .orange{
    background: orange;
}
.awol .purple{
    background: rgba(128, 0, 128, 0.5);
}

/* Opciones a Si No a lado */
.containerEncuesta .opciones .opcSi,
.containerEncuesta .opciones .opcNo{
  display: inline-flex;
  margin: 0px 10px 0px 15px;
  cursor: pointer;
  font-size: 1.1rem;
}
.spmsqp .opciones input,
.camicu .opciones input{
  margin-right: 10px;
}

/* Estilo de Prueba reloj */
.reloj .opciones .question label{
  display: flex;
  margin: 7px 0px;
}
.reloj .opciones .question input{
  margin-right: 1rem;
}
.reloj .opciones .question label input[type="radio"]{
  margin-top: 0.2rem;
  align-self: start;
}
.reloj {
  .instruccion p{
    font-weight: bold;
    font-size: 1.3rem;
  }
  .image{
    width: 35%;
    margin: 2rem auto;
  }
  .instruccion{
    text-align: center;
    margin: 1.7rem 0px;
  }
  .opciones{
    margin-top: 1rem;
  }
}