<div class="4at">
    <div class="title">
        Estado de Conciencia
    </div>
    <div class="p">Esto incluye que puedan presentarse somnolencia o ahitado/hiperactivo.</div>
    <div class="opciones">
        <label for="">
            <input type="checkbox"> Normal
        </label>
        <label for="">
            <input type="checkbox" name="" id="">Somnolencia Breve &#60;10 Segundos
        </label>
        <label for="">
            <input type="checkbox">Claramente Normal
        </label>
    </div>
</div>