//Titulo General
.title {
  background: #dedede;
  opacity: 0.7;
  padding: 0.5rem;
  text-align: center;
  margin: 1rem auto;
}
/* Estilos del Contenedor de Encuesta */
.containerEncuesta{
  width: 100%;
  max-width: 1000px;
  margin:  1rem auto;
}

// Boton Finalizar
.boton{
  width: 100%;
  max-width: max-content;
  margin: 1rem auto;

  button{
    padding: 10px 30px;
  }
}

.opciones label,
.opciones input {
  //display: block;
  cursor: pointer;
  width: max-content;
}

/* Estilos de Encuesta AWOL */
.awol .text-green {
  color: green;
  font-weight: bold;
  border: green solid 5px;
}

.awol .text-orange {
  color: orange;
  font-weight: bold;
  border: orange solid 5px;
}

.awol .text-purple {
  color: purple;
  font-weight: bold;
  border: purple solid 5px;
}
.awol .text-red {
  color: red;
  font-weight: bold;
  border: red solid 5px;
}
.awol .opciones p{
    font-size: 3rem;
    margin: 10px 2rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.5;
}
.awol .opciones p:hover{
  opacity: 1;
}
.awol .opciones{
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
}
.awol .respuesta p{
    font-size: 1.1rem;
    margin: 1rem auto;
    max-width: 50%;
    padding: 10px 5px;
    font-weight: bold;
}
.awol .green{
    background: #82e0aa;
}
.awol .red{
    background: #FF6565;
}
.awol .orange{
    background: orange;
}
.awol .purple{
    background: rgba(128, 0, 128, 0.5);
}

/* Opciones a Si No a lado */
.containerEncuesta .opciones .opcSi,
.containerEncuesta .opciones .opcNo{
  display: inline-flex;
  margin: 0px 10px 0px 15px;
  cursor: pointer;
  font-size: 1.1rem;
}
.spmsqp .opciones input,
.camicu .opciones input{
  margin-right: 10px;
}

/* Estilo de Prueba reloj */
.reloj .opciones .question label{
  display: flex;
  margin: 7px 0px;
}
.reloj .opciones .question input{
  margin-right: 1rem;
}
.reloj .opciones .question label input[type="radio"]{
  margin-top: 0.2rem;
  align-self: start;
}
.reloj {
  .instruccion p{
    font-weight: bold;
    font-size: 1.3rem;
  }
  .image{
    width: 35%;
    margin: 2rem auto;
  }
  .instruccion{
    text-align: center;
    margin: 1.7rem 0px;
  }
  .opciones{
    margin-top: 1rem;
  }
}

// ESTILOS MINI COG
.minicog{
  h1 {
    text-align: center;
    color: #4caf50;
    margin-bottom: 20px;
  }
  .instruction {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .instruction h2 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .highlight {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
  }
  .note {
    font-style: italic;
    color: #777;
  }
  .gray-bg {
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .minicogIMG{
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: #D6DBDF solid 5px;
  }
  .containerIMG {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
  }
}
.minicog .opciones {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .opcion input{
    display: inline-flex;
    
  }
  .stylecog{
    .preguntacog{
      background: #e8e8e8;
      padding: 10px 15px;
      border-radius: 8px;
      margin: 10px 0;
    }
    .opcion{
      margin: 0 0 10px 0;
      padding: 5px;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }

    input[type="checkbox"] {
      margin-right: 5px;
      width: 15px;
      height: 15px;
      border-radius: 4px;
      transition: background-color 0.3s ease, border-color 0.3s ease;
  
      &:checked {
        background-color: #4caf50;
        border-color: #4caf50;
      }
  
      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3); // Resalta cuando está en foco
      }
    }
  }  
}
.moca{
  .encuesta {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alineación central para todo el contenido */
  }
  
  .encuesta h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .encuesta-imagen {
    width: 100%;
    max-width: 600px;
    margin: 1rem auto; /* Centrar automáticamente */
    border-radius: 10px;
    display: block; /* Asegura que sea tratado como bloque */
  }
  
  .opciones {
    margin-top: 1rem;
    text-align: left; /* Opciones alineadas a la izquierda para claridad */
  }
  
  .opciones label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .opciones input[type="checkbox"] {
    margin-right: 0.5rem;
  }
    
}
.opcmult .opciones {
  label input[type="radio"] {
    margin-top: 0.1rem;
    align-self: start;
  }
  .preguntas {
    padding: 10px 15px;
    background: #d7dbdd;
    color: rgba(0, 0, 0, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    border-radius: 5px;
    margin: 15px 0;
  }
  .options label{
    display: block;
    margin: 10px 5px;
    font-size: 1.1rem;

    input{
      margin: 10px 0;
    }
  }
  .options{
    padding-left: 15px;
  }
}