<!-- Encuesta 4AT -->
<div class="4at containerEncuesta" *ngIf="categoria == '4at'">
  <div class="title">
    4AT
  </div>
  <div class="p">Esto incluye que puedan presentarse somnolencia o ahitado/hiperactivo.</div>
  <div class="opciones">
    <label for="">
      <input type="checkbox"> Normal
    </label>
    <label for="">
      <input type="checkbox" name="" id="">Somnolencia Breve &#60;10 Segundos
    </label>
    <label for="">
      <input type="checkbox">Claramente Normal
    </label>
  </div>
</div>

<!-- Encuesta CAM -->
<div class="codesf containerEncuesta opcmult" *ngIf="categoria == 'codesf'">
  <div class="title">
    IQCODE-SF
  </div>
  <div class="opciones">
    <div class="encuesta-lista">
      <h2>Recuerda, por favor c&#243;mo era su familia hace 5 &#243; 10 a&#241;os y compare c&#243;mo es &#233;l en este momento. Conteste si ha habido alg&#250;n cambio a lo largo de este tiempo en la capacidad de su familiar para cada uno de los aspectos que le preguntemos.</h2>
      <div *ngFor="let question of questionSF; let i = index" class="question">
        <p class="preguntas">{{ question.text }}</p>
        <div class="options">
          <label *ngFor="let option of question.option">
            <input type="radio" [name]="'question' + i" [value]="option.score" (change)="setAnswer(i, option.score)"/>
            {{ option.label }}
          </label>
        </div>
      </div>
      <div *ngIf="showErrors" class="alert alert-danger mt-3" role="alert">
        Por favor, responde todas las preguntas antes de calcular el puntaje.
      </div>
    </div>
  </div>
</div>

<!-- Encuesta CAM-ICU -->
<div class="moca containerEncuesta" *ngIf="categoria == 'moca'">
  <div class="title">
    Montreal Cognitive Assessment (MoCA)
  </div>

  <div class="instruccion">
    <div *ngFor="let encuesta of MoCA" class="encuesta">
      <h3>{{ encuesta.titulo }}</h3>
      <!-- Mostrar imagen si existe -->
      <img *ngIf="encuesta.imagen" [src]="encuesta.imagen" alt="Imagen de la encuesta" class="encuesta-imagen" draggable="false">
    
      <div class="opciones">
        <label *ngFor="let opcion of encuesta.opciones">
          <input 
            type="checkbox" 
            [(ngModel)]="opcion.seleccionada" 
          />
          {{ opcion.text }}
        </label>
      </div>
    </div>
    <div class="resLogica encuesta">
      <h3>Restar 7 en 7 empenzando desde 100</h3>
      <div class="opciones">
        <label><input type="checkbox" [(ngModel)]="restaSeleccionada[93]">93</label>
        <label><input type="checkbox" [(ngModel)]="restaSeleccionada[86]">86</label>
        <label><input type="checkbox" [(ngModel)]="restaSeleccionada[79]">79</label>
        <label><input type="checkbox" [(ngModel)]="restaSeleccionada[72]">72</label>
        <label><input type="checkbox" [(ngModel)]="restaSeleccionada[65]">65</label>
      </div>
    </div>
  </div>
</div>

<!-- Encuesta AWOL -->
<div class="awol containerEncuesta" *ngIf="categoria == 'awol'">
  <div class="title">Awol</div>
  <div class="intruccion">
    <p>Seleccione las letras para cambiar de <b>COLOR</b>, al estar en gris, se considera 0 puntos, cada color es 1
      punto</p>
  </div>
  <div class="opciones">
    <p [ngClass]="{ 'text-green': isSelected['A'] }" (click)="toggleTextColor('A')">A</p>
    <p [ngClass]="{ 'text-red': isSelected['W'] }" (click)="toggleTextColor('W')">W</p>
    <p [ngClass]="{ 'text-purple': isSelected['O'] }" (click)="toggleTextColor('O')">O</p>
    <p [ngClass]="{ 'text-orange': isSelected['L'] }" (click)="toggleTextColor('L')">L</p>
  </div>
  <div class="respuesta">
    <p class="green">A: Edad &#62; 80 A&#241;os</p>
    <p class="red">W: &#191;Incapaz de deletrear la Palabre: &#34;MUNDO&#34; al reves&#63;</p>
    <p class="purple">O: &#191;Desorientado en Ciudad, Estado, Pa&#237;s, Hospital y Piso&#63;</p>
    <p class="orange">L: Evaluacion Enfermedad &#191;Moderado, Grave o Moribundo&#63;</p>
  </div>
</div>

<!-- Encuesta Question Pfeiffer -->
<div class="spmsqp containerEncuesta" *ngIf="categoria == 'spmsqp'">
  <div class="title">Short Portable Mental State Questionnaire Pfeiffer</div>
  <div class="encuesta">
    <div class="instruccion">Responde la pregintas de acuerdo a la respuesta del Paciente</div>
    <form>
      <div class="pregunta" *ngFor="let pregunta of preguntasMMSE; let i = index">
        <label [for]="'pregunta-' + i" class="preguntas">{{pregunta.texto}}</label>
        <div class="opciones">
          <div class="opcSi" (click)="pregunta.respuesta = 'si'" [class.selected]="pregunta.respuesta == 'si'">
            <input type="radio" [name]="'pregunta-'+ i" [id]="'si-'+i" value="si" [(ngModel)]="pregunta.respuesta" required />
            <label [for]="'si-'+ i">Si</label>
          </div>
          <div class="opcNo" (click)="pregunta.respuesta = 'no'" [class.selected]="pregunta.respuesta == 'no'">
            <input type="radio" [name]="'pregunta-'+ i" [id]="'si-'+ i" value="no" [(ngModel)]="pregunta.respuesta" required />
            <label [for]="'no-'+ i">No</label>
          </div>
        </div>
        <div class="text-danger samll" *ngIf="!pregunta.respuesta && showErrors">
          Por favor responde todas las preguntas
        </div>
      </div>
    </form>
  </div>  
</div>

<!-- Prueba del Reloj -->
 <div class="reloj containerEncuesta" *ngIf="categoria == 'reloj'">
  <div class="title">Prueba del Reloj</div>
  <div class="instruccion">
    <p>Dibuje un reloj de manecillas, coloque todos los n&#250;meros que lleva y marque con agujas la hora &#8220;11&#58;10&#8221;</p>
    <img src="assets/Imagenes/reloj.jpg" draggable="false" alt="" class="image">
    <p>De acuerdo al paciente, seleccione las opciones que considere que hizo correctamente</p>
  </div>
  <div class="opciones">
    <form [formGroup]="questionnaireForm" (ngSubmit)="encuestas('reloj')">
      <!-- Pregunta 1 -->
    <div class="question">
      <p><strong>{{questions[0].text}}</strong></p>
      <div *ngFor="let option of questions[0].options" class="question1">
        <label>
          <input type="radio" [formControlName]="'question1'" [value]="option.score" />
          {{ option.label }}
        </label>
      </div>
    </div>
    <div *ngIf="hasError('question1')" class="text-danger small">
      Por favor selecciona una respuesta.
    </div>
    

    <!-- Pregunta 2 -->
    <div class="question">
      <p><strong>{{questions[1].text}}</strong></p>
      <div *ngFor="let option of questions[1].options">
        <label [ngStyle]="{ 'white-space': 'pre-line' }">
          <input type="radio" [formControlName]="'question2'" [value]="option.score"/>
          {{ option.label }}
        </label>
      </div>
    </div>
    <div *ngIf="hasError('question1')" class="text-danger small">
      Por favor selecciona una respuesta.
    </div>

    <!-- Pregunta 3 -->
    <div class="question">
      <p><strong>{{questions[2].text}}</strong></p>
      <div *ngFor="let option of questions[2].options">
        <label>
          <input type="radio" [formControlName]="'question3'" [value]="option.score"/>
          {{ option.label }}
        </label>
      </div>
    </div>
    <div *ngIf="hasError('question1') && showErrors" class="text-danger small">
      Por favor selecciona una respuesta.
    </div>

    </form>
  </div>
 </div>
 
  <!-- MINI COG -->
<div class="minicog containerEncuesta" *ngIf="categoria == 'minicog'">
  <div class="title">Mini-Cog</div>
  <div class="instrucciones">
      <h1>Instrucciones de Evaluación</h1>
      <div class="instruction">
        <h2>1. Registro de tres palabras</h2>
        <p>Vea directamente a la persona, logre su atención y dígale:</p>
        <div class="highlight">"Le voy a decir tres palabras que quiero que usted recuerde ahora y más tarde. Las palabras son papel, bicicleta, cuchara. Por favor, dígamelas ahora."</div>
        <p>Si la persona no logra repetir las 3 palabras en un primer intento, dígale las 3 palabras nuevamente. Máximo se le darán hasta 3 intentos para repetir las palabras.</p>
        <p class="note">Si la persona no logra repetir las palabras después de 3 intentos, continúe con la siguiente sección.</p>
      </div>
    
      <div class="instruction">
        <h2>2. Dibujo del reloj</h2>
        <p>Proporcione a la persona una hoja de papel en blanco y una pluma, y dígale las siguientes frases en el orden indicado:</p>
        <div class="gray-bg">"Por favor, dibuje un reloj en este espacio. Comience dibujando un círculo grande."</div>
        <p>Cuando la persona haya terminado, dígale:</p>
        <div class="gray-bg">"Coloque todos los números en el círculo."</div>
        <p>Cuando la persona haya terminado, dígale:</p>
        <div class="gray-bg">"Ahora coloque las manecillas del reloj para que marquen las 11 y 10."</div>
        <p class="note">Si la persona no ha terminado de dibujar el reloj en 3 minutos, deje pendiente esta sección y pase a lo siguiente.</p>
      </div>
    
      <div class="instruction">
        <h2>3. Evocación de las tres palabras</h2>
        <p>Dígale a la persona:</p>
        <div class="highlight">"¿Cuáles fueron las tres palabras que le pedí que recordara?" (papel, bicicleta, cuchara).</div>
        <p>Registre la fecha, el nombre completo, la edad, el sexo y los años de escolaridad de la persona evaluada.</p>
      </div>
  </div>
  <div class="opciones">
    <h1>Seleccione las respuestas que considere correctos</h1>
    <div *ngFor="let pregunta of minicog" class="stylecog">
      <div class="preguntacog">{{ pregunta.question }}</div>
      <div class="opcion" *ngFor="let opcion of pregunta.options">
        <label name="">
          <input type="checkbox" [(ngModel)]="opcion.seleccionada" />
            {{ opcion.text }}
          </label>
      </div>
    </div>
  </div>
  <div class="containerIMG">
    <img src="assets/Imagenes/cognitiva/minicog.png" alt="" class="minicogIMG" draggable="false">
  </div>
</div>
<!-- Boton de Envio -->
<div class="boton">
  <button type="submit" class="btn btn-success" (click)="finalizarEncuesta()">Finalizar</button>
</div>