<div class="tituloEncuesta">
  <h1>Encuesta {{name}}</h1>
</div> 
<!--
<div class="iframe">
  <iframe [src]="safeUrl" frameborder="0" class="ventana"></iframe>
</div>-->
<!-- <app-diagnostic (categoriaSeleccionada)="cambiarCategoria($event.toString())"></app-diagnostic> -->
 <!-- ENCUESTA COGNITIVA -->
<app-encuesta-cog #encuestaComponent *ngIf="categoria == 'cognitiva'"></app-encuesta-cog>
<!-- ENCUESTA FUNCIONAL -->
<app-category1 *ngIf="categoria == 'funcional'"></app-category1>
<!-- ENCUESTAS DE LA CATEGORIA AFECTIVA -->
<app-encuesta-afc *ngIf="subCat == 'gds15'"></app-encuesta-afc>
<app-encuesta-beck-anxiety *ngIf="subCat == 'ansbeck'"></app-encuesta-beck-anxiety>
<app-encuesta-sad-persons *ngIf="subCat == 'sadperson'"></app-encuesta-sad-persons>
<app-encuesta-ces-d7 *ngIf="subCat == 'cesd7'"></app-encuesta-ces-d7>
<app-encuesta-phq9 *ngIf="subCat == 'phq9'"></app-encuesta-phq9>
<app-encuesta-escala-soledad *ngIf="subCat == 'soledad3'"></app-encuesta-escala-soledad>
<app-encuesta-gai-sf *ngIf="subCat == 'gaisf'"></app-encuesta-gai-sf>
<app-encuesta-cornell *ngIf="subCat == 'cornell'"></app-encuesta-cornell>
<app-encuesta-okeeffe *ngIf="subCat == 'cortdepresion'"></app-encuesta-okeeffe>
 <!-- ECNEUSTA DE LA CATEGORIA NUTRIOCONAL -->
<app-encuesta-assessment-sf *ngIf="subCat == 'mininutri'"></app-encuesta-assessment-sf>
<app-encuesta-assessment *ngIf="subCat == 'asessment'"></app-encuesta-assessment>
<app-encuesta-must *ngIf="subCat == 'must'"></app-encuesta-must>
<app-encuesta-glim *ngIf="subCat == 'glim'"></app-encuesta-glim>
<app-encuesta-sarc-f *ngIf="subCat == 'sarcf'"></app-encuesta-sarc-f>