<div class="container">
  <h2>Encuestas</h2>
  <div *ngFor="let encuesta of encuestas" class="encuesta">
    <button (click)="toggleEncuesta(encuesta)" class="encuesta-titulo">
      {{ encuesta.titulo }}
      <span [class]="encuesta.expandida ? 'flecha-arriba' : 'flecha-abajo'"></span>
    </button>

    <div *ngIf="encuesta.expandida" class="preguntas">
      <div *ngFor="let pregunta of encuesta.preguntas" class="pregunta">
        <h5>{{ pregunta.texto }}</h5>
        <div *ngFor="let inciso of pregunta.incisos; let i = index">
          <label>
            <input type="radio" name="{{ encuesta.titulo + pregunta.texto }}" (change)="pregunta.respuestaSeleccionada = i; calcularPuntajeTotal(encuesta)" />
            <img *ngIf="inciso.imagenUrl" [src]="inciso.imagenUrl" alt="{{ inciso.texto }}" class="inciso-imagen" />
            {{ inciso.texto }} ({{ inciso.puntaje }} puntos)
          </label>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón para finalizar encuestas -->
  <div class="finalizar-encuesta">
    <button (click)="finalizarEncuesta()">Finalizar Encuesta</button>
  </div>
</div>

