.test-list-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #f30a0a;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  mat-list-item {
    margin-bottom: 10px;
  }