<h2 class="title">Diagnostico 4AT</h2>
<p class="text">Seleccione las casillas correctas de acuerdo a la encuesta realizada a continuacion.</p>
<div class="encuesta">
    <p>&#91;1&#93; Estado de Conciencia</p>
        <form>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="opcion" value="" id="option1">
                <label class="form-check-label" for="option1">
                    Normal &#40;Completamente en alerta, pero obligado, a lo largo de la evaluacion&#41;
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="opcion" value="" id="option2">
                <label class="form-check-label" for="option2">
                    Somnolencia leve durante &#60;10 segundos de despertar, luego normal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="opcion" value="" id="option3">
                <label class="form-check-label" for="option3">
                    Claramente anormal
                </label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
        </form>
</div>

